@font-face {
    font-family: 'Arcade';
    src: url('/fonts/Arcade.ttf');
}
@font-face {
    font-family: 'Digitek';
    src: url('/fonts/Digitek.ttf');
}

#shipSelector {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

#shipsBlock {
    width: 200px;
    text-align: center;
    display: inline-block;
    height: 200px;
    max-height: 200px;
}

#shipsBlock>.shipBlock {
    text-align: center;
    border: 0px solid;
    height: 200px;
    max-height: 200px;
}

#canvas{
    border: solid 1px #000000;
    left: 0;
    margin: 0 auto;
    width: 100%;
}
a body.fullscreen {
    overflow: hidden;
}
a body.fullscreen #canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}